:root {
    --aqua: #00B4D8;
    --blue: #6E78FF;
    --rgbblue: 110, 120, 255;
    --rgbaqua: 0, 180, 216;
    --cyan: 0, 191, 255;
}

body {
    overflow-x: hidden;    
    height: 100vh;           
    margin: 0;
    padding: 0;
    text-align: center;
    background: #0e0e0e;
    color: white;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: clamp(1.25rem, 4vw + 1.25rem, 3.8rem);
    margin: min(30px, 3%) 0;
}

p {
    font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
}

ul {
    list-style: none;
}

nav {
    position: fixed;
    top: 10px;
    left: 50%;               
    transform: translateX(-50%); 
    width: fit-content;          
    justify-content: center;  
    z-index: 10;    
}
    

nav ul {
    backdrop-filter: blur(8px);
    overflow: hidden;
    margin: 0;
    max-width: 95vw;
    white-space: nowrap; 
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 6px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 100px;
    box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.1),  
                0 0 5px 2px rgba(255, 255, 255, 0.1);
}

nav ul li {
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 100px;
}

nav ul li a {
    font-size: clamp(12px, 3vw, 24px);
    padding: 0.3em 0.7em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: inherit;
    text-decoration: none;
}

nav li:hover {
    text-shadow: 0 0 1px whitesmoke, 0 0 3px whitesmoke;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.07);
}

#bg-canvas {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* behind content */
}

.section {
    position: relative;
}

#about-title {
    padding-top: 50px;
}

#content-wrapper {
    padding: 10px 10vw;
    width: 100%;
    box-sizing: border-box;
}

#hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px 5px;
    height: 100%;
    width: 100%;
    /* position: fixed; */
    box-sizing: border-box;
    z-index: 1;
}

#hero {
    text-overflow: ellipsis;
    white-space: nowrap;
}

#name {
    margin: 0;
    margin-bottom: 0.5vw;
    padding: 0;
    font-size: clamp(30px, 12vw, 85px);
    font-weight: 800;

}

#intro {
    margin: 0;
    padding: 0;
    font-size: clamp(16px, 5vw, 32px);

}

#links {
    font-size: clamp(14px, 2vw, 20px);
    margin-top: 16px;
    padding: 0;
    display: flex;
    justify-content: center;
   
}

#links li {
    margin: 0.5vw 1.5vw 0;
}

svg {
    display: block; 
    fill: rgba(255, 255, 255, 0.8);
}

.github-icon {
    background: transparent;
    fill: transparent;
    stroke: rgba(255, 255, 255, 0.8);
}

#project {
    width: 100%
}

/* Controls container of all project boxes */
.project-container {
    display: flex;
    flex-wrap: wrap;
    overflow: wrap;
    justify-content: center;
    margin: 0;
    padding: min(25px, 3%) 0;
    gap: clamp(20px, 3%, 40px);
    width: 100%;
   
}

/* Controls individual project boxes */
.project-wrapper {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    min-height: fit-content;
    height: 30vh;
    width: clamp(20px, 25%, 500px);
    box-sizing: border-box;
    background-color: rgb(25, 25, 25); /* In case color-mix is not supported */
    background: radial-gradient(circle at center, 
                color-mix(in srgb, var(--blue) 13%, rgb(25, 25, 25)), 
                color-mix(in srgb, var(--aqua) 10%, rgb(25, 25, 25)));
    border-radius: 3rem;
    padding: min(24px, 6%);
    position: relative;
    
    &::after, &::before {
        /* Offload animation to GPU */
        transform: translate3d(0, 0, 0);
        --angle: 0deg;
        inset: -0.2rem;
        content: '';
        position: absolute;
        background-image: conic-gradient(from var(--angle), var(--aqua), var(--blue), var(--aqua));
        z-index: -1;
        border-radius: 3.2rem;
        animation: 10s spin linear infinite;
    }

    &::before {
        filter: blur(0.5rem);
        opacity: 0.75;
    }
}

.icon-container {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon-wrapper {
    z-index: 1;
    width: 20%;
}

.icon-bg {
    width: 100%;
    height: fit-content;
    padding: 0.4em;
    display: block;
    box-sizing: border-box;
    background-color: rgb(25, 25, 25); /* In case color-mix is not supported */
    background: radial-gradient(circle at center, 
                color-mix(in srgb, var(--blue) 13%, rgb(25, 25, 25)), 
                color-mix(in srgb, var(--aqua) 10%, rgb(25, 25, 25)));
    border-radius: 30px;
    position: relative;

    &::after, &::before {
        /* Offload animation to GPU */
        transform: translate3d(0, 0, 0);
        --angle: 0deg;
        inset: -3px;
        content: '';
        position: absolute;
        background-image: conic-gradient(from var(--angle), var(--aqua), var(--blue), var(--aqua));
        z-index: -1;
        border-radius: 33px;
        animation: 10s spin linear infinite;
    }
    &::before {
        filter: blur(0.5rem);
        opacity: 0.75;
    }
}

.github-link {
    width: 10%;
    height: fit-content;
    padding: 0.6em;
    /* border: transparent 4px solid; */
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
    /* background: rgba(25, 25, 25, 0.6); */
    /* background: radial-gradient(circle at center, 
                color-mix(in srgb, var(--blue) 7%, rgb(25, 25, 25)), 
                color-mix(in srgb, var(--aqua) 7%, rgb(25, 25, 25))); */
    border-radius: 30px;
    &:hover {
        /* padding: 0.6em; */
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
        /* border: rgba(25, 25, 25, 0.2) 4px solid;
        background: rgba(25, 25, 25, 0.5); */
    }
}

.project-header {
    font-size: clamp(16px, 6vw, 32px);
    padding: 0;
    margin: 32px 0 12px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.15));
}

.project-description {
    font-size: clamp(1px, 4vw, 24px);
    padding: 0;
    margin: 12px 0;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.15));
}

.tags-container {
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 8px;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.tags {
    font-size: clamp(10px, 3vw, 18px);
    box-sizing: border-box;
    width: fit-content;
    padding: 0.3em 0.8em;
    border: white solid 1px; /* Default border */
    border-radius: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.1));
}

/* Different types of tags styling */
.language-tag {
    border: var(--aqua) solid 1px;
    background-color: rgba(var(--rgbaqua), 0.2);
}
.framework-tag {
    border: var(--blue) solid 1px;
    background-color: rgba(var(--rgbblue), 0.2);
}


/* Below icon styling is used solely for the clickable links in the hero section while above is used for the projects*/

.icon {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(25px, 2vw, 40px);
    height: clamp(25px, 2vw, 40px);
    padding: 6px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.35),  
                0 0 7px 2px rgba(255, 255, 255, 0.1);
    border-radius: 80px;
    background-clip: border-box !important;
}

.gradient-flow {
    /* Offload animation to GPU */
    transform: translate3d(0, 0, 0);
    background: radial-gradient(circle at center, var(--aqua), var(--blue));
    background-size: 300%;
    will-change: background-position-x;
    color: transparent;
    background-clip: text;
    filter: drop-shadow(0 0 20px rgba(var(--cyan), 0.2));
    animation: gradientFlow 15s infinite linear;
    position: relative;
}

/* CSS Animations */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@keyframes gradientFlow {
    0%   { background-position-x: 300%; }
    100%  { background-position-x: 0%; }
}

/* Whenever device/screen is below 1400px */
@media (max-width: 1400px) { 
  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
  }

  .project-wrapper {
    width: 90% !important;
  }
}

/* Whenever device/screen is below 768px */
@media (max-width: 768px) { 
  nav {
    display: none;
  }
}