:root {
    --aqua: #00B4D8;
    --blue: #6E78FF;
    --rgbblue: 110, 120, 255;
    --rgbaqua: 0, 180, 216;
    --cyan: 0, 191, 255;
}

body {
    overflow-x: hidden;    
    height: 100vh;           
    margin: 0;
    padding: 0;
    text-align: center;
    background: #0e0e0e;
    color: white;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: clamp(20px, 8vw, 50px);
}

p {
    font-size: clamp(12px, 3vw, 18px)
}

ul {
    list-style: none;
}

nav {
    position: fixed;
    top: 10px;
    left: 50%;               
    transform: translateX(-50%); 
    width: fit-content;          
    justify-content: center;  
    z-index: 10;    
}
    

nav ul {
    backdrop-filter: blur(8px);
    overflow: hidden;
    margin: 0;
    max-width: 95vw;
    white-space: nowrap; 
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 6px 6px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.1),  
                0 0 5px 2px rgba(255, 255, 255, 0.1);
}

nav ul li {
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 30px;
}

nav ul li a {
    padding: 8px 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: clamp(10px, 3vw, 18px);
}

nav li:hover {
    text-shadow: 0 0 1px whitesmoke, 0 0 3px whitesmoke;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.07);
}

#bg-canvas {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* behind content */
}

.section {
    position: relative;
}

#about-title {
    padding-top: 50px;
}

#content-wrapper {
    padding: 10px 10vw;
    width: 100%;
    box-sizing: border-box;
}

#hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px 5px;
    height: 100%;
    width: 100%;
    /* position: fixed; */
    box-sizing: border-box;
    z-index: 1;
}

#hero {
    text-overflow: ellipsis;
    white-space: nowrap;
}

#name {
    margin: 0;
    margin-bottom: 0.5vw;
    padding: 0;
    font-size: clamp(30px, 10vw, 70px);
    font-weight: 800;

}

#intro {
    margin: 0;
    padding: 0;
    font-size: clamp(16px, 5vw, 24px);

}

#links {
    font-size: clamp(14px, 2vw, 20px);
    margin-top: 12px;
    padding: 0;
    display: flex;
    justify-content: center;
   
}

#links li {
    margin: 0.5vw 1.5vw 0;
}

svg {
    display: block; 
    fill: rgba(255, 255, 255, 0.8);
}

#github-icon {
    background: transparent;
    fill: transparent;
    stroke: rgba(255, 255, 255, 0.8)
}

#project {
    width: 100%
}

/* Controls container of all project boxes */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 0;
    gap: 1.5vw;
    width: 100%;
}

.project-container li {
    width: clamp(20px, 25%, 500px);
}

/* Controls individual project boxes */
.project-wrapper {
    display: block;
    width: 100%;
    height: 40vh;
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
    border-radius: 3rem;
    padding: 1px 3px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.project-wrapper::after, .project-wrapper::before {
    --angle: 0deg;
    inset: -0.2rem;
    content: '';
    position: absolute;
    background-image: conic-gradient(from var(--angle), var(--aqua), var(--blue), var(--aqua));
    z-index: -1;
    border-radius: 3.2rem;
    animation: 10s spin linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.project-wrapper::before {
    filter: blur(0.5rem);
    opacity: 0.75;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
}
.tags {
    width: fit-content;
    padding: 10px 20px;
    border: white solid 1px;
    border-radius: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(25px, 2vw, 40px);
    height: clamp(25px, 2vw, 40px);
    padding: 6px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.35),  
                0 0 7px 2px rgba(255, 255, 255, 0.1);
    border-radius: 80px;
    background-clip: border-box !important;
}

.gradient-flow {
    background: radial-gradient(circle at center, var(--aqua), var(--blue));
    background-size: 300%;
    color: transparent;
    background-clip: text;
    filter: drop-shadow(0 0 20px rgba(var(--cyan), 0.2));
    animation: gradientFlow 15s infinite linear;
    position: relative;
}

@keyframes gradientFlow {
    0%   { background-position-x: 300%; }
    100%  { background-position-x: 0%; }
}
