:root {
    --aqua: #00B4D8;
    --blue: #6E78FF;
    --cyan: 0, 191, 255;
}

body {
    overflow-x: hidden;    
    height: 100vh;           
    margin: 0;
    padding: 0;
    text-align: center;
    background: #0e0e0e;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: clamp(20px, 8vw, 50px);
}

p {
    font-size: clamp(12px, 3vw, 18px)
}

ul {
    list-style: none;
}

#content-wrapper {

}



.section {
    position: relative;
}

#about-title {
    padding-top: 50px;
}

nav {
    position: fixed;
    top: 10px;
    left: 50%;               
    transform: translateX(-50%); 
    width: fit-content;          
    justify-content: center;  
    z-index: 10;    
}
    

nav ul {
    backdrop-filter: blur(8px);
    overflow: hidden;
    margin: 0;
    max-width: 95vw;
    white-space: nowrap; 
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 6px 6px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.1),  
                0 0 5px 2px rgba(255, 255, 255, 0.1);
}

nav ul li {
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 30px;
}

nav ul li a {
    padding: 8px 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: clamp(10px, 3vw, 18px);
}

nav li:hover {
    text-shadow: 0 0 1px whitesmoke, 0 0 3px whitesmoke;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.07);
}

#hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px 5px;
    height: 100vh;
    width: 100vw;
    /* position: fixed; */
    box-sizing: border-box;
    z-index: 1;
}

#hero {
    text-overflow: ellipsis;
    white-space: nowrap;
}
svg {
    fill: white;
    width: 40px;
    height: 40px;
}

#name {
    margin: 0;
    padding: 0;
    font-size: clamp(30px, 10vw, 70px);
    font-weight: 800;
    
}

#intro {
    margin: 0;
    padding: 0;
    font-size: clamp(16px, 5vw, 24px);

}

#links {
    font-size: clamp(14px, 2vw, 20px);
    margin-top: 12px;
    padding: 0;
    display: flex;
    justify-content: center;
   
}

#links li {
    margin: 0 2vw 0;
}


#content-wrapper {
    padding: 10px 10vw;
    width: 100vw;
    box-sizing: border-box;
}



.gradient-flow {
    background: radial-gradient(circle at center, var(--aqua), var(--blue));
    background-size: 300%;
    color: transparent;
    background-clip: text;
    filter: drop-shadow(0 0 20px rgba(var(--cyan), 0.2));
    animation: gradientFlow 20s infinite linear
}

@keyframes gradientFlow {
    0%   { background-position-x: 300%; }
    100%  { background-position-x: 0%; }
}



#bg-canvas {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* behind content */
}
